@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            @Body
        </div>
    </div>
</div>

<style>
    body {
        background: url('images/background/authpage_BG.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>