@using Client.Pages.OtherPages
@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase
@attribute [Authorize]

<div class="page">
    <NavMenu/>
    
    <main>
        <div class="top-row px-4">
           <ProfileDropDown></ProfileDropDown>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    
}
