@using Client.Pages.DepartmentPages

<div class="container mx-auto px-4 mt-4">
    <CardDeck Class="flex-wrap gap-4 !flex-row mb-4">
        <Card Border="Border.Primary" Background="Background.Transparent" TextColor="TextColor.White">
            <Button Width="Width.Is100"><i class="fa fa-users text-primary me-2"></i> Employees</Button>
        </Card>
        <Card Border="Border.Success" Background="Background.Transparent" TextColor="TextColor.White">
            <Button Width="Width.Is100"><i class="fa fa-sun text-success me-2"></i> Vacation</Button>
        </Card>
        <Card Border="Border.Danger" Background="Background.Transparent" TextColor="TextColor.White">
            <Button Width="Width.Is100"><i class="fa fa-stopwatch text-danger me-2"></i> Overtime</Button>
        </Card>
        <Card Border="Border.Warning" Background="Background.Transparent" TextColor="TextColor.White">
            <Button Width="Width.Is100"><i class="fa fa-hospital text-warning me-2"></i> Doctor</Button>
        </Card>
        <Card Border="Border.Dark" Background="Background.Transparent" TextColor="TextColor.White">
            <Button Width="Width.Is100"><i class="fa-brands fa-slack text-white me-2"></i> Departments</Button>
        </Card>
    </CardDeck>

    <GeneralDepartmentPage />
</div>