<div class="container w-64 sm:w-96 mx-auto mt-4">
    <CardDeck Class="flex-wrap gap-4 !flex-col">
        <Card Border="Border.Primary" Background="Background.Transparent">
                <CardHeader TextColor="TextColor.Black50"><i class="fa fa-user text-primary"></i> Employees</CardHeader>
        </Card>
        <Card Border="Border.Success" Background="Background.Transparent">
            <CardHeader TextColor="TextColor.Black50"><i class="fa fa-sun text-success"></i> Vacation</CardHeader>
        </Card>
        <Card Border="Border.Danger" Background="Background.Transparent">
            <CardHeader TextColor="TextColor.Black50"><i class="fa fa-stopwatch text-danger"></i> Overtime</CardHeader>
        </Card>
        <Card Border="Border.Warning" Background="Background.Transparent">
            <CardHeader TextColor="TextColor.Black50"><i class="fa fa-hospital text-warning"></i> Doctor</CardHeader>
        </Card>
        <Card Border="Border.Dark" Background="Background.Transparent">
            <CardHeader TextColor="TextColor.Black50"><i class="fa-brands fa-slack text-dark"></i> Departments</CardHeader>
        </Card>
    </CardDeck>
</div>