@using BaseLibrary.Models
@inject Blazorise.IToastService ToastService
@* <Button Color="Color.Primary" Clicked="@OpenDialog">Add Department</Button> *@

<Modal @ref="generalDepartmentDialog" @bind-Visible="IsVisible">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Add Department</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Department</FieldLabel>
                <TextEdit Placeholder="Enter name..." />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            <Button Color="Color.Primary" Clicked="@HideModal">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    [Parameter] public GeneralDepartment Department { get; set; } = new();
    private bool IsVisible { get; set; } = false;

    public void OpenDialog()
    {
        IsVisible = true;
        ShowModal();
        StateHasChanged();
    }

    async void SaveChanges()
    {
        if(string.IsNullOrEmpty(Department.Name))
        await ToastService.Error("Department name is required", "Missing Field");
        else
        {
            await ToastService.Success("Department added successfully", "Saved Changes");
            IsVisible = false;
        }
           
    }

    // reference to the modal component
    private Modal generalDepartmentDialog;

    private Task ShowModal()
    {
        return generalDepartmentDialog.Show();
    }

    private Task HideModal()
    {
        return generalDepartmentDialog.Hide();
    }

}