@using BaseLibrary.Models
@using Client.ApplicationStates
@implements IDisposable
@inject DepartmentState departmentState

@if (departmentState.ShowGeneralDepartment)
{
    <Card Border="Border.Primary" Background="Background.Dark" TextColor="TextColor.White">
        <CardHeader TextColor="TextColor.White">
            <i class="fa fa-user text-primary"></i>
            General Department
            <CloseButton Class="float-end" onclick="@GeneralDepartmentClicked"></CloseButton>
        </CardHeader>
        <CardBody>
            <Table Class="rounded">
                <TableHeader TextColor="TextColor.White">
                    <TableRow Background="Background.Primary">
                        <TableHeaderCell>#</TableHeaderCell>
                        <TableHeaderCell>First Name</TableHeaderCell>
                        <TableHeaderCell>Last Name</TableHeaderCell>
                        <TableHeaderCell>Username</TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    <TableRow Background="Background.Transparent">
                        <TableRowHeader>1</TableRowHeader>
                        <TableRowCell>Ilyas</TableRowCell>
                        <TableRowCell>Kaya</TableRowCell>
                        <TableRowCell>@@Turkish Delight</TableRowCell>
                    </TableRow Background="Background.Transparent">
                    <TableRow Background="Background.Transparent">
                        <TableRowHeader>2</TableRowHeader>
                        <TableRowCell>Muse</TableRowCell>
                        <TableRowCell>Yusuf</TableRowCell>
                        <TableRowCell>@@Somalian FinalBoss</TableRowCell>
                    </TableRow>
                    <TableRow Background="Background.Transparent">
                        <TableRowHeader>3</TableRowHeader>
                        <TableRowCell>Caius</TableRowCell>
                        <TableRowCell>Matei</TableRowCell>
                        <TableRowCell>@@Romanian Final Boss</TableRowCell>
                    </TableRow>
                </TableBody>
            </Table>
        </CardBody>
        <CardFooter>
            <Form>
                <Button Color="Color.Primary" @onclick="@OpenDialog">Add department</Button>
            </Form>
        </CardFooter>
    </Card>
}

<GeneralDepartmentDialog @ref="generalDepartmentDialog" /> 

@code {
    GeneralDepartmentDialog? generalDepartmentDialog; 
    GeneralDepartment Department = new();

    protected override void OnInitialized()
    {
        departmentState.GeneralDepartmentAction += StateHasChanged;
    }

    void OpenDialog()
    {
        generalDepartmentDialog?.OpenDialog();
    }

    public void Dispose()
    {
        departmentState.GeneralDepartmentAction -= StateHasChanged;
    }

    private void GeneralDepartmentClicked()
    {
        departmentState.GeneralDepartmentClicked(false);
    }
}