@implements IDisposable

@if (allState.ShowGeneralDepartment)
{
    <Card Border="Border.Primary" Background="Background.Dark" TextColor="TextColor.White">
        <CardHeader TextColor="TextColor.White">
            <i class="fa fa-user text-primary"></i>
            General Department
            <CloseButton Class="float-end" onclick="@GeneralDepartmentClicked"></CloseButton>
        </CardHeader>
        <CardBody>
            <Table Class="rounded">
                <TableHeader TextColor="TextColor.White">
                    <TableRow Background="Background.Primary">
                        <TableHeaderCell>#</TableHeaderCell>
                        <TableHeaderCell>First Name</TableHeaderCell>
                        <TableHeaderCell>Last Name</TableHeaderCell>
                        <TableHeaderCell>Username</TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    <TableRow Background="Background.Transparent">
                        <TableRowHeader>1</TableRowHeader>
                        <TableRowCell>Ilyas</TableRowCell>
                        <TableRowCell>Kaya</TableRowCell>
                        <TableRowCell>@@Turkish Delight</TableRowCell>
                    </TableRow Background="Background.Transparent">
                    <TableRow Background="Background.Transparent">
                        <TableRowHeader>2</TableRowHeader>
                        <TableRowCell>Muse</TableRowCell>
                        <TableRowCell>Yusuf</TableRowCell>
                        <TableRowCell>@@Somalian FinalBoss</TableRowCell>
                    </TableRow>
                    <TableRow Background="Background.Transparent">
                        <TableRowHeader>3</TableRowHeader>
                        <TableRowCell>Caius</TableRowCell>
                        <TableRowCell>Matei</TableRowCell>
                        <TableRowCell>@@Romanian Final Boss</TableRowCell>
                    </TableRow>
                </TableBody>
            </Table>
        </CardBody>
        <CardFooter>
            <Form>
                <Button Color="Color.Primary" @onclick="@OpenDialog">Add department</Button>
            </Form>
        </CardFooter>
    </Card>
}

<GeneralDepartmentDialog @ref="generalDepartmentDialog" 
    HandleSaveOperationEvent="HandleSaveOperationEvent" 
    GeneralDepartment="GeneralDepartment" /> 

@code {
    [Inject] IToastService? ToastService { get; set; }
    GeneralDepartmentDialog? generalDepartmentDialog; 
    GeneralDepartment GeneralDepartment = new();
    public string Title { get; set; } = "Add Department";
    public List<GeneralDepartment> GeneralDepartments { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        await GetGeneralDepartments();
        allState.Action += StateHasChanged;
    }

    public async Task GetGeneralDepartments()
    {
        GeneralDepartments = await generalDepartmentService.GetAll(ClientConstants.GeneralDepartmentBaseUrl);
    }

    void OpenDialog()
    {
        generalDepartmentDialog?.OpenDialog();
    }

    private async Task HandleSaveOperationEvent(GeneralDepartment generalDepartment)
    {
        bool successCheck = false; 
        if(GeneralDepartment.Id > 0)
        {
            var result = await generalDepartmentService.Update(GeneralDepartment, ClientConstants.GeneralDepartmentBaseUrl);
            successCheck = await DisplayMessage(result.Flag, result.Message);
        } 
        else
        {
            var response = await generalDepartmentService.Insert(GeneralDepartment, ClientConstants.GeneralDepartmentBaseUrl);
            successCheck = await DisplayMessage(response.Flag, response.Message);
        }
        if(successCheck) 
        {
            GeneralDepartment = new ();
            await GetGeneralDepartments();
            generalDepartmentDialog?.ChangeTitle("Add");
        }
    }

    private void EditClicked(GeneralDepartment department)
    {
        generalDepartmentDialog?.ChangeTitle("Update");
        GeneralDepartment = department;
        OpenDialog();
    }

    private async Task<bool> DisplayMessage(bool flag, string message)
    {
        if(flag)
        {
            await ToastService!.Success(message, "Success");
            return true;
        }
        else
        {
            await ToastService!.Error(message, "Error");
            return false;
        }
    }

    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }

    private void GeneralDepartmentClicked()
    {
        allState.GeneralDepartmentClicked(false);
    }
}