<Modal @ref="generalDepartmentDialog" @bind-Visible="IsVisible">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Add Department</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Department</FieldLabel>
                <TextEdit Placeholder="Enter name..." />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            <Button Color="Color.Primary" Clicked="@HideModal">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    [Inject] IToastService ToastService { get; set; }
    [Parameter] public GeneralDepartment Department { get; set; } = new();
    public bool IsVisible { get; set; } = false;

    public void OpenDialog()
    {
        IsVisible = true;
        ShowModal();
        StateHasChanged();
    }

    public Task SaveChanges()
    {
        if(string.IsNullOrEmpty(Department.Name))
        {
            return ToastService.Error("Department name is required", "Missing Field");
        }
        else
        {
            IsVisible = false;
            return ToastService.Success("Department added successfully", "Saved Changes");
        }           
    }

    // reference to the modal component
    private Modal? generalDepartmentDialog;

    private Task ShowModal()
    {
        return generalDepartmentDialog!.Show();
    }

    private Task HideModal()
    {
        return generalDepartmentDialog!.Hide();
    }
}