<Modal @ref="generalDepartmentDialog" @bind-Visible="IsVisible">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>@Title General Department</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <EditForm Model="generalDepartment" OnSubmit="SaveChanges">
                <Heading TextSize="TextSize.Medium" Class="mb-2">General Department</Heading>
                <TextEdit Placeholder="Enter name..." @bind-value="generalDepartment.Name" />
            </EditForm>
        </ModalBody>
        <ModalFooter Class="justify-end">
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            <Button Color="Color.Primary" Type="ButtonType.Submit" Clicked="@SaveChanges">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    [Inject] IToastService? ToastService { get; set; }

    [Parameter] public GeneralDepartment generalDepartment { get; set; } = new();
    [Parameter] public EventCallback<GeneralDepartment> HandleSaveOperationEvent { get; set; }

    public bool IsVisible { get; set; } = false;
    public string Title { get; set; } = "Add";

    public void OpenDialog()
    {
        IsVisible = true;
        ShowModal();
        StateHasChanged();
    }

    public async Task SaveChanges()
    {
        if (string.IsNullOrEmpty(generalDepartment.Name))
            await ToastService!.Error("General Department name is required", "Missing Field");
        else
        {
            IsVisible = false;

            await HandleSaveOperationEvent.InvokeAsync(generalDepartment);
            await ToastService!.Success("General Department added successfully", "Saved Changes");
        }
    }

    public void ChangeTitle(string title)
    {
        Title = title;
    }

    // reference to the modal component
    private Modal? generalDepartmentDialog;

    private Task ShowModal()
    {
        return generalDepartmentDialog!.Show();
    }

    private Task HideModal()
    {
        IsVisible = false;
        return generalDepartmentDialog!.Hide();
    }
}