<div class="btn-group">
    @* <img src="@(ProfileImage == "" ? "../images/Profile/c3f2c592f9.jpg" : ProfileImage)" class="rounded-circle" height="40" width="30" /> *@
    <button class="btn btn-none border-0 dropdown-toggle dropdown-toggle-split" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Toggle Dropdown
        <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu mt-2 border-0">
       <li>
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a class="text-primart fw-bold floatstart-0 text-decoration-none" style="font-family:Tahoma;">
                                <i class="bi bi-person-gear"></i> Profile
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                  @* Senare arbete *@
                </div>
            </div>
       </li>
    </ul>
</div>

    

      
